In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('house_prices.csv')

In [3]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
del data['Id']

In [5]:
del data['MSZoning']
del data['Street']
del data['Alley']
del data['LotShape']
del data['LandContour']
del data['Utilities']
del data['LotConfig']
del data['LandSlope']
del data['Neighborhood']
del data['Condition1']
del data['Condition2']
del data['BldgType']
del data['HouseStyle']
del data['RoofStyle']
del data['RoofMatl']
del data['Exterior1st']
del data['Exterior2nd']
del data['MasVnrType']
del data['ExterQual']
del data['ExterCond']
del data['Foundation']
del data['BsmtQual']
del data['BsmtCond']
del data['BsmtExposure']
del data['BsmtFinType1']
del data['BsmtFinType2']
del data['Heating']
del data['HeatingQC']
del data['Electrical']
del data['KitchenQual']
del data['Functional']
del data['FireplaceQu']
del data['GarageType']
del data['GarageFinish']
del data['GarageQual']
del data['GarageCond']
del data['PavedDrive']
del data['PoolQC']
del data['Fence']
del data['MiscFeature']
del data['SaleType']
del data['SaleCondition']
del data ['CentralAir']

In [6]:
y = data['SalePrice']

In [7]:
del data['SalePrice']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(data, y, test_size=0.2)

In [10]:
Xtrain.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
695,20,54.0,13811,6,6,1987,1987,72.0,980,40,...,551,125,0,0,0,0,0,0,7,2006
1128,60,59.0,11796,7,5,2004,2005,0.0,0,0,...,434,100,48,0,0,0,0,0,7,2007
902,60,63.0,7875,7,5,2003,2003,0.0,0,0,...,393,0,75,0,0,0,0,0,7,2006
664,20,49.0,20896,8,5,2005,2006,0.0,1721,0,...,1134,192,267,0,0,0,0,0,1,2006
177,50,69.0,13650,5,5,1958,1958,0.0,57,441,...,451,0,0,0,0,0,0,0,7,2006

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
model = LinearRegression()

In [13]:
model.fit(Xtrain, Ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
prediction = model.predict(Xtest)

In [15]:
prediction[:5]

array([232731.61480725, 115957.63870655, 169578.82614823,  44721.40709926,
       216972.84867673])

In [16]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [17]:
mean_absolute_error(Ytest, prediction)

22566.325574748385

In [18]:
mean_squared_error(Ytest, prediction)

2506173926.268711

In [19]:
from math import sqrt

rms = sqrt(mean_squared_error(Ytest, prediction))

In [20]:
rms

50061.70119231578